<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">Reports & Ratings </a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">Knowledge & Education</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">Other Services </a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">Terms & Conditions</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">Customer Support</a></li>